#profile-picture {

  width: 200px;
}

h1.intro-Paula  {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: bolder;
  color: #801A86;
  line-height: 1.6;
  letter-spacing: 2px;
}

h2.job-title {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  line-height: 1.6;
  color: rgb(50, 50, 50);
}

h3.social-media {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #801A86;
}

p.description {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  line-height: 1.6;
  margin: 15px 0px 45px;
  color: rgb(50, 50, 50);

}

a.portfolio-btn {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #736B92;
  background-color: #801A86;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 4px;
  color: white;
}


a.portfolio-btn:hover {
  background-color: #C3D2D5;
  text-shadow: 0px 10px 30px rgba(0,0,0,0.1);
}

.btn-social {
  font-size: 32px;
  text-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  color: #B79FAD;
}

.btn-social:hover {
  background-color: #C3D2D5;

}

.container{
  width: 800px;   /* This sets the width */
  margin: 0 auto;
}

.intro-card{
  background: white;
  padding: 40px;
  margin: 20px 0px;
  border: none solid lightgrey;
  text-align: center;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);

}

.img-circle{
  border-radius: 50%;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
}

.social-card{
  background: white;
  padding: 40px;
  margin: 20px 0px;
  border: none solid lightgrey;
  text-align: center;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);

}
.list-inline > li {
  display: inline-block;
  list-style: none;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}


@media (max-width: 960px) {

  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {

  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {

  .img-circle: {
    display: none;
  }
  .container {
    width: 300px;
  }
}
